.style {
  display: flex;
  justify-content: space-around;

  background-color: tomato;
}

#ingredients {
  display: flex;
  justify-content: space-around;

  background-color: rgb(52, 174, 230);
}

#gallery {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.js__wrapper__img {
  padding: 0;
  margin: 0 10px 0 10px;
  list-style: none;
}

.js__img {
  width: 100%;
  height: 100%;
}

#counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#value {
  margin: 0 10px 0 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.title__wrapper {
  text-align: center;
}

.input__wrapper {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 24px;
}

.counter__title {
  margin-right: auto;
}

.valid {
  border: solid 3px green;
}

.invalid {
  border: solid 3px red;
}

#controls {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#boxes {
  display: flex;
  align-items: center;
  flex-direction: column;
}
